<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="hidden">
						<%= @title = "Editar datos" %>
					</div>
					<%= render 'form' %>

				</div>
			</div>
		</div>
	</div>
</div>
