
<div class="text-center" >
  <h3> Informaci&oacute;n de cliente </h3>
  <h5>
    <strong>Nombre:</strong>
    <%= @client.firstname %>
  </h5>

  <h5>
    <strong>Apellido:</strong>
    <%= @client.lastname %>
  </h5>
</div>
