<%= render template: "menu" %>
<section class="col-md-8">
  <div class="container-fluid">
    <div class="pull-left">
      <h2 class="text-center remove-margin">Las 5 personas mas facturadas</h2>
    </div>
  </div>
  <hr>
    <div class="pull-left">
      <% @people.each do |p| %>
      <h3> <%= p[0] %> $<%= p[1] %></h3>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to 'Volver', client_path(@client), class: "btn btn-sm btn-info" %>
    </div>
</section>
