			<div class="panel panel-default">
				<div class="panel-body">

					<div class="hidden">
						<%= @title = "Crear factura" %>
					</div>
					<%= render 'form' %>

				</div>
			</div>
		</div>
	</div>
</div>
